/****signup***/
.innerpage-conent { float: left; margin-top: 75px; width: 100%; }
.signup-container {border: 1px solid #adadad; width: 100%; margin-top: 70px; margin-bottom: 70px; border-radius: 2px; text-align: center; background: #fff;}
.signup-container h2 {font-size: 25px; color: #565656; padding: 20px 0; text-align: center; font-weight: 300;border-bottom: 1px solid #adadad; }
.signup-container div {text-align: center;}
.signup-container a:hover { text-decoration: none; }
.signup-container a { font-size: 16px; background: #f1f1f1;}
.signup-email a {border: 1px solid #cdcdcd;  border-radius: 2px; color: #404040;display: inline-block; max-width: 436px; padding: 20px; width: 100%; margin-bottom: 35px; margin-top: 70px;}
.signup-facebook a:hover {color: #fff;}
.signup-facebook a{ border: 1px solid #4063b3; border-radius: 2px; color: #fff; display: inline-block;max-width: 436px; padding: 20px; width: 100%; background: #4063b3; margin-top: 35px;}
.signup-container i {margin-right: 12px;}
.signup-container p {color: #404040; font-size: 13px; margin-top: 45px; margin-bottom: 45px;}
span.signup-line { border-bottom: 1px solid #cccccc; display: inline-block;  padding-bottom: 45px;  }
.signup-color {	color: #1277bb; }


/****sigin***/ 
.signup-container form {
    margin: 49px auto;
    max-width: 575px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.signup-container form label {
    font-family: raleway;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}
.signup-container form button {
    background: #72a105 none repeat scroll 0 0;
    border: 1px solid #72a105;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    width: 100%;
}
a.signup-fb {
    background: #4063b3;
    border: 1px solid #4063b3;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    width: 100%;
    display: inline-block;
}
a.signup-fb:hover {
    color: #fff;
}
.line-signin {
    border-bottom: 1px solid #ccc;
    padding-bottom: 45px;
}
.signup-container form button:hover {background:#515151 ; color: #fff;}
.signup-container input.form-control{height: 47px; border-radius: 2px; border: 1px solid #aaaaaa; box-shadow: none;}
.signin-wrapper select {height: 47px; border-radius: 2px; border: 1px solid #aaaaaa; box-shadow: none;
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background: #fff url("../images/arw.png") no-repeat scroll right 10px center;
}
.signup-container p.line-signin {
    border-bottom: medium none;
    border-top: 1px solid #ccc;
   
    padding-bottom: 0;
    padding-top: 45px;
}
.c-red {color: #d61a1a;}
.form-group.radio span {
    float: left;
    margin: 0 20px 10px 0;
}
.form-part div.form-group {
    float: left;
    width: 48%;
}
.form-part div.form-group:nth-child(2) {
    float: right;
}
p.cap {
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
p.cap span {
    float: left;
    text-align: right;
    width: 50%;
}
.cap-img img {
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    width: 100%;
    min-height: 47px;
}
.cap-sr i {
    background: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    color: #a7a7a7;
    font-size: 24px;
    margin: 0 10px;
    padding: 9px 10px;
    text-align: center;
}
p.cap span {
    float: left;
    text-align: right;
    width: 50%;
}
